.modal-container{
    position:fixed;
    width: 100%;
    min-height: 100vh;
    top:0px;
    left:0px;
    /* background-color:grey; */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility:hidden;    
}
.modal{
    background-color: white;
    width:30%;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
    border-radius: 10px;  
    box-shadow:2px 2px 2px #d1d2d3;
    font-weight: bold;
    
}
.modal-show{
    visibility: visible;
    opacity:90%;
}
.modal-btn-container{
    display:flex;
    justify-content: space-evenly;
}